GROQ_API_KEY=your_grok_api_key
HUBSPOT_TOKEN=your_hubspot_access_token

# DATABASE CREDENTIALS
DB_POSTGRESDB_USER=your_postgresql_admin
DB_POSTGRESDB_PASSWORD=your_postgresql_password
DB_POSTGRESDB_DATABASE=your_postgresql_database

# SYSTEM
N8N_ENCRYPTION_KEY=your_random_secret_key